/*
Color Palette
https://coolors.co/f2f4f3-364652-212227-5e503f-006494
#F2F4F3 = Cultured - white
#364652 = Charcoal - medium gray
#212227 = Raisin Black
#5E503F = Umber - brown
#005B87 = Blue Sapphire
*/



/* Global 
-----------------------------*/
html {
    scroll-behavior: smooth;
}

body {
    color: #27282e;
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

h1, h2 {
    font-family: 'Fredericka the Great', cursive;
    font-weight: 400;
    font-size: 3.5em;
    margin: 0;
}

/* Navigation
------------------------------*/
.navbar {
    background-color: #212227;
    z-index: 1000;
}

.navbar-brand {
    font-family: 'Fredericka the Great', cursive;
    /* transition: color 1s; */
}

/* .navbar-brand:hover {
    color: #005B87;
} */

.navbar-nav {
    transition: color 1s;
    transition: transform 0.5s;
    font-size: 1.2em;
}

.nav-item:hover {
    background-color: #364652;
    border-radius: 4px;
    transform: scale(1.07); 
    -ms-transform: scale(1.07); 
    -webkit-transform: scale(1.07); 
}

.nav-item {
	padding: auto;
    margin: auto 1.5em;
}

/* .btn-dark {
	font-size: 1em;
	margin: auto 1.5em;
	border: none;
	background-color: transparent;
} */

/* .btn-dark:hover {
    background-color: #364652;
    border-radius: 4px;
    transform: scale(1.07); 
    -ms-transform: scale(1.07); 
    -webkit-transform: scale(1.07); 
}

.btn-dark:visited {
	border: none;
	background-color: transparent;
} */

/*added 5-04-2020*/
/*keep navbar from hiding section titles*/
#Header::before, #AboutMe::before, #Projects::before, #Contact::before {
display: block;
content: " ";
margin-top: -65px;
height: 65px;
visibility: hidden;
}


/* Header
------------------------------*/
#Header .content {    
	background: #212227;
	color: #F2F4F3;
	font-weight: 400;
	font-size: 1em;
	line-height: 1.25;
	font-family: 'Fredericka the Great', cursive;
}

.large-header {
	position: relative;
	width: 100%;
	background: #333;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 1;
}

.content .large-header {
	background-image: url('./Assets/jonatan-pie-3l3RwQdHRHg-unsplash.jpg');
}

#main-title {
	position: absolute;
	margin: 0;
	padding: 0;
	color: #f9f1e9;
	text-align: center;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
	text-transform: uppercase;
	font-size: 4.2em;
	letter-spacing: 0.1em;
}

#main-title .thin {
	font-weight: 200;
	line-height: 1.5em;
}

#main-title .subtitle {
	font-size: 0.5em;
	font-weight: 200;
}



/* Profile 
-----------------------------*/
#AboutMe {
	background-color: #005B87;
    margin-bottom: 2rem;
    
}

#AboutMe h1 {
	color: #F2F4F3;
	/* font-family: 'Fredericka the Great', cursive; */
    padding-top: 2.3rem;
    text-align: center;
}

#profileHeaderUnderline {
	width: 17rem;
    /* display: block; */
    height: 2px;
    border: 0;
    border-top: 3px solid #364652;
    margin: 2em auto;
    padding: 0;
}

#profilePhotoContainer {
	padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-left: 1rem;
}

#profilePhotoContainer img {
	/* width: 100%; */
    border-width: 2.5px 2.5px 1.5px 2.5px;
    border-style: solid;
    border-color: #5E503F;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
	/* outline-offset: -1.5rem; */
}


#profileNamePositionBox {
	background-color: #212227;
	outline: 1px solid #364652;
	outline-offset: -1.5rem;
	padding-top: 2rem;
	padding-bottom: 2rem;
    margin-bottom: 5rem;
    border-width: 1px 2.5px 2.5px 2.5px;
    border-style: solid;
    border-color: #5E503F;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

/* #profileNamePositionBox p span {
	color: #F2F4F3;
	letter-spacing: 0.1rem;
} */

#profileNamePositionBox p {
	color: #F2F4F3;
	padding-left: 1rem;
	padding-right: 1rem;
    font-family: 'Oswald', sans-serif;
    font-size: 1.1rem;
	letter-spacing: 0.1rem;
}

#profileNamePositionBox div:first-of-type p {
	padding-top: 1rem;
}

#profileNamePositionBox hr {
	width: 75%;
    display: block;
    height: 2px;
    border: 0;
    border-top: 1px solid #364652;
    margin: 1em auto;
    padding: 0;
	padding-left: -1rem;
	padding-right: -1rem;
}

#AboutMe h2 {
	color: #F2F4F3;
	/* font-family: 'Fredericka the Great', cursive; */
	/* font-weight: 700; */
	font-size: 2rem;
	text-align: left;
	margin-top: 0;
	margin-bottom: 0;
}

#profileIntroUnderline {
	margin-top: 0.5rem;
	width: 6.5rem;
	float: left;
    display: block;
    border: 0;
    border-bottom: 1.8px solid #364652;
    margin-bottom: 0;
}

#profileIntroUnderline + br + p {
	text-align: left;
	color: #F2F4F3;
	padding-right: 5rem;
	font-family: 'Oswald', sans-serif;;
	letter-spacing: 0.08rem;
	font-size: 1.75rem;
	font-weight: 200; 
}

#profileIntroUnderline + br + p span {
	font-size: 1.75rem;
	font-weight: 400;
}

#myResume {
    color: #005B87;
    background-color: #F2F4F3;
    text-decoration: none;
    padding: 6px;
    border-radius: 10px;
    transition: color 0.5s;
}

#myResume:link,
#myResume:visited {
	opacity: 1;
	/* color: #F2F4F3;
	background-color: #212227; */
}

#myResume:hover,
#myResume:active {
	opacity: 0.8;
    color: #F2F4F3;
    background-color: #005B87;
    border: 1.2px solid #212227;
    border-radius: 10px;
}

#profileDivider {
	width: 10rem;
    display: block;
    height: 2px;
    border: 0;
    border-top: 3px solid #364652;
    margin: 2em;
    margin-left: 0;
    padding: 0;
}

#profileDescription {
	color: #F2F4F3;
	font-family: 'Oswald', sans-serif;
    letter-spacing: 0.08rem;
    font-size: 1rem;
	text-align: left;
	padding-right: 5rem;
	padding-bottom: 5rem;
}

#profileSkillsUnderline {
	margin-top: 0.5rem;
	width: 8rem;
	float: left;
    display: block;
    border: 0;
    border-bottom: 1.8px solid #364652;
    margin-bottom: 0;
}

#skillsRow {
	padding-bottom: 5rem;
}

#skillIcon {
    font-size: 3rem;
    margin: 2rem;
	color: #F2F4F3;
	/* pointer-events: auto; */
}

/* Project 
-----------------------------*/
#Projects {
    /* padding: 20px; */
    margin-bottom: 5rem;
}

#Projects h1 {
    padding-top: 2rem;
    text-align: center;
}

#projectHeaderUnderline {
	width: 15rem;
    /* display: block; */
    height: 2px;
    border: 0;
    border-top: 3px solid #364652;
    margin: 2em auto 4rem;
    padding: 0;
}

.figure-caption {
    font-size: 1.3em;
    margin-bottom: 1em;
}

#projectIconsRow {
	padding: 1em;
}

#Projects img {
    padding: 0.5rem;
    padding-bottom: 3rem;
    position: relative;
    text-align: center;
    color: #888;
    transition: transform 1s;
}

#Projects img:hover {
    transform: scale(1);
    -ms-transform: scale(1.07); 
    -webkit-transform: scale(1.07); 
}

/* Contact Info
-----------------------------*/
#Contact {
	/* text-align: center; */
	background-color: #212227;
	padding-bottom: 5rem;
}

#Contact h1 {
	color: #F2F4F3;
	text-align: center;
	/* font-family: 'Fredericka the Great', cursive; */
	padding-top: 2rem;
}

#contactHeaderUnderline {
	width: 19rem;
	display: block;
	height: 2px;
	border: 0;
	border-top: 3px solid #5E503F;
	margin: 2em auto;
	padding-bottom: 2rem;
}

#Contact form .row {
	max-width: 50%;
	margin-left: auto;
	margin-right: auto;
}

#Contact .form-control {
	margin: 2rem;
	background-color: #364652;
	border: 1px solid #364652;
}

#Contact .form-control {
	margin: 2rem;
	background-color: #364652;
	border: 1px solid #364652;
	box-shadow: 1px solid #444;
}

#Contact button {
	background-color: #F2F4F3;
	color: #212227;
	opacity: 1;
    transition: opacity 0.5s;
    transition: transform 1s;
}

#Contact button:hover {
	background-color: #005B87;
	opacity: 0.8;
    color: #F2F4F3;
    -ms-transform: scale(1.07); 
    -webkit-transform: scale(1.07); 
    transform: scale(1.07); 
}

#Contact button:active,
#Contact button:focus {
	background-color: #005B87;
	opacity: 0.6;
	color: #F2F4F3;
	box-shadow: 1px solid #444;
}

/*WeatherWidget*/

#widgetCol  a{
	height: 100%;
	width: 300px;
	margin-left: 4.5rem;
}

/* Footer
-----------------------------*/
#Footer {
	background-color: #364652; 
	color: #212227;
	text-align: center;
	padding-top: 0.2em;
	padding-bottom: 0.5em;
}

#socialIcons {
	font-size: 3rem;
	color:#F2F4F3;
	padding: 0.5rem;
	margin: 0.5rem 1rem;
	transition: color 0.5s;
    display: inline-block;
    
}

#socialIcons:hover {
    color: #005B87;
}

#copyrightDate {
    color: #F2F4F3;
    transition: color 0.5s;
}

#copyrightDate:hover {
    color: #005B87;
    text-decoration: none;
}

#Footer > p:first-of-type {
    margin-top: 1.4em;
}



/* Responsive
-----------------------------*/
@media only screen and (max-width : 768px) {
	#main-title {
		font-size: 3em;
	}
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

/* @media screen and (max-width: 768px) {
    body { padding-top: 0px; }
} */